@import "_null";

body{
    background-color: #002910;
    font-family: sans-serif;
}
.header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 16px 64px;
    font-size: 32px;
    &__option-btn{
        background-color: transparent;
    }
}

.playing-field{
    background-color: #00501f;
    border: solid 2px #001f0c;
    border-top: none;
    width: 1400px;
    height: 900px;
    margin: auto;
}
.card-box{
    width: 1000px;
    height: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 16px;
}
.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s, opacity 0.5s;
    width: 130px;
    height: 180px;
    :hover{
        cursor: pointer;
    }
    &__inverted{
        transform: rotateY(180deg);
    }
    &__card-shirt, &__drawing{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10%;
        backface-visibility: hidden;
    }
    &__card-shirt{
        background-color: #923232;
        border: 15px solid #fff;
    }
    &__drawing{
        background-size: 90px;
        background-repeat: no-repeat;
        background-color: #fff;
        background-position: center;
        transform: rotateY(180deg);
    }
    &__filter{
        opacity: 0;
        :hover{
            cursor: default;
        }
    }
}

.pop-up-win {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background-color: #00000088;
    &__open{
        display: flex;
    }
    &__cont {
        background-color: #fff;
        color: #001f0c;
        padding: 48px 24px;
    }

    &__title {
        color: #923232;
        font-size: 48px;
        margin-bottom: 32px;
    }

    &__list {
        font-size: 20px;
        margin-bottom: 48px;
    }

    &__item {
        margin-bottom: 16px;
    }
    &__btn{
        font-size: 20px;
        padding: 16px;
        width: 100%;
        color: #fff;
        background-color: #923232;
    }
}
